
body {
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.menu {
  color: white;
  height: 50px;
  background-color:grey;
  }

.nav-list {
  display: flex;
  justify-content:center;
  list-style: none;
  }

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
}

.main {
  background-color: azure;
}
img {

    border-radius: 20%;
    margin: 20px;
}
